body {
    background-color: #cf3b3b;
    margin-left: 25%;
    margin-right: 25%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}


button.categories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sodaContainer>h4{
    color: blueviolet;
}

.sodaContainer>img{
    height: 100px;
    width: 100px;
    border-style: line;
    border-width: 20px;
}